{% extends 'base.html' %}
{% block body %}

<h1>Er du sikker på at du vil slette spørsmålet?</h1>
<table>
    <thead>
       <th>Spørsmål</th>
    </thead>
    <tbody>
     <tr>
       <td>{{question.question}}</td>

     </tr>
    </tbody>
     
 </table>
 <form method = "POST" action ="{{url_for('deleteConfirmed')}}">
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type = "submit" name = "deleteid" value = "{{question.id}}">Bekreft</button>
 </form>
 


{% endblock %}
