{% extends 'base.html' %}
{% block body %}

{% if questions %}
<h1>Spørsmålsoversikt</h1>
<table>
   <thead>
      <th>Spørsmål</th>
      <th>Alternativ 1</th>
      <th>Alternativ 2</th>
      <th>Alternativ 3</th>
      <th>Endre</th>
   </thead>
   <tbody>
{% for question in questions %} 


    
    <tr>
      <td>{{question.question}}</td>
      <td>{{question.alt1}}</td>
      <td>{{question.alt2}}</td>
      <td>{{question.alt3}}</td>
      <td><a href="?id={{ question.id  }}">Endre</a></td>
    </tr>
{% endfor %}
   </tbody>
    
</table>
_________

{% else %}
<div class = "container">
   <h2>Update question</h2>
   <form action="{{url_for('updateQuestion')}}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
       <div>
           {{ form.question.label }}<br>
           {{ form.question(size=32) }}<br>
           {% for error in form.question.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
       </div>
       <div>
           {{ form.alt1.label }}<br>
           {{ form.alt1(size=32) }}<br>
           {% for error in form.alt1.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
       </div>
       <div>
         {{ form.alt2.label }}<br>
         {{ form.alt2(size=32) }}<br>
         {% for error in form.alt2.errors %}
         <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
      </div>
      <div>
         {{ form.alt3.label }}<br>
         {{ form.alt3(size=32) }}<br>
         {% for error in form.alt3.errors %}
         <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
     </div>
       {{ form.id }}
       <p>{{ form.submit() }}</p>
   </form>
</div>

<form action="{{url_for('deleteConfirm')}}" method="post">
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
   <button type ="submit" name = "delete" value = "{{id}}">Delete Question</button>
</form>
{% endif %}

{% endblock %}