{% extends 'base.html' %}
{% block body %}

<h1>QUIZ MASTER</h1>
<div>
<form method = "get" action = "{{url_for('createQuiz')}}"> 
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type = "submit" class = "button" >Opprett quiz</button>
</form>
</div>
<div>
    <form method = "get" action = "{{url_for('viewCategories')}}"> 
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type = "submit" class = "button" >Kategorier</button>
    </form>
</div>
<div>
    <form method = "get" action = "{{url_for('approveQuizes')}}"> 
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type = "submit" class = "button" >Kommenter og godkjenn quizer</button>
    </form>
</div>
{% endblock %}


