{% extends 'base.html' %}
{% block title %}Quiz{% endblock %}
{% block body %}
<h1>Quizer</h1>
{% if session['isAdmin'] == True %}
<form method = "post" action = "{{url_for('redirectToQuestionsByQuiz')}}"> 
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <table>
    {% for quiz in quizer %}
        <tr>
            <td><button type = "submit" class = "button" name = "quiz" value = "{{quiz}}" >{{quiz}}</button></td>
        </tr> 

    {% endfor %}
    </table>
</form>
{% else %}

<form method = "post" action = "{{url_for('redirectToAnswerQuiz')}}"> 
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <table>
    {% for quiz in quizer %}
        <tr><button type = "submit" class = "button" name = "quiz" value = "{{quiz}}" >{{quiz}}</button></tr> 

    {% endfor %}
    </table>
</form>

{% endif %}

{% endblock %}